@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    height: 98vh;
    margin: 0;
    user-select: none;
}

header {
    height: 11vh;
}

header .nav {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

header .nav .focus {
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

header .nav .nav-icon {
    font-size: 30px;
}

header .nav .weather {
    text-align: right;
    cursor: pointer;
    padding: 10px;
    transition: background-color ease;
}

header .nav  .weather:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

header .nav .weather .degrees-icon {
    display: flex;
    align-items: center;
}

header .nav .weather .degrees-icon .degrees {
    padding-left: 5px;
}

clock {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    height: 75vh;
    justify-content: center;
}

clock .time {
    display: grid;
    font-size: 125px;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-template-areas: ". time menu";
}

clock .time:hover .time-menu,
clock .time-menu.active {
    display: block;
}

clock .time-menu {
    display: none;
    font-size: 20px;
    padding: 6px;
    margin-left: 15px;
    opacity: 50%;
    transition: background-color ease;
    grid-area: menu;
    position: relative;
}

clock .time-clock {
    grid-area: time;
}

clock .clock-menu {
    grid-area: menu;
    background-color: #0f0f0fd9;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;

    margin: 80px 0 0 15px;

    width: 140px;
    height: 25px;
}

clock .clock-menu::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    margin-left: -10px;
    margin-bottom: 51px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #0f0f0fd9 transparent;
}

clock .time-menu:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
}

clock .clock-menu .switch {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 14px;
}

clock .clock-menu .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

clock .clock-menu .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0f0f0fd9;
    border: 1px solid #ffffff4d;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}

clock .clock-menu .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    bottom: 1px;
    left: 1px;
    border-radius: 30px;
    background-color: #ffffff4d;
    -webkit-transition: .4s;
    transition: .4s;
}

clock .clock-menu .switch input:checked + .slider {
    background-color: #ffffffd9;
    border: 1px solid #ffffffd9;
}

clock .clock-menu .switch input:focus + .slider {
    box-shadow: 0 0 1px #ffffffd9;
}

clock .clock-menu .switch input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
    background-color: #0f0f0f;
}

clock .date {
    font-size: 30px;
}

footer {
    height: 8vh;
    margin: 10px 20px 20px 20px;
    
    display: grid;
    grid-template-columns: 65px auto 83px;
    grid-template-areas: "gallery quote tasks";

    align-items: end;
}

footer .footer-icon {
    font-size: 30px;
    cursor: pointer;
}

footer .change-bg {
    text-align: left;
    grid-area: gallery;
    position: relative;
}

.gallery {
    grid-area: gallery;
    background-color: #0f0f0fd9;
    width: 560px;
    height: 420px;
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-bottom: 10px;

    display: grid;
    grid-template: 70px 70px 280px / repeat(4, 1fr);
    padding: 30px;
}

.gallery::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 4px;
    top: 100%;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #0f0f0fd9 transparent;
}

.gallery .gallery-head {
    grid-column: span 4;
}

.gallery .gallery-head .gallery-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.gallery .gallery-head .gallery-desc {
    color: #ffffff80;
}

.gallery .gallery-menu {
    grid-column: span 4;
    display: inline-flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

.gallery .categories {
    display: flex;
}

.gallery .categories div{
    display: inline-flex;
    color: #ffffff80;
    transition: color ease;
    padding-right: 25px;
}

.gallery .categories div:hover {
    color: #fff;
}

.gallery .categories .category.active {
    color: #fff;
}

.gallery .add-btn{
    background-color: #fff;
    color: #0f0f0fd9;
    padding: 10px;
    border-radius: 30px;
    height: 20px;
    width: 115px;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.gallery .gallery-photos {
    grid-column: span 4;
    display: grid;
    grid-template: repeat(3, 80px) / repeat(4, 1fr);
    gap: 20px;
}

.gallery .gallery-photos img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.gallery .gallery-photos .photo {
    display: flex;
    justify-content: end;
    transition: filter ease;
}

.gallery .gallery-photos .photo:hover img{
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    z-index: 1;
}

.gallery .gallery-photos .photo.currentbg {
    outline: 2px solid #fff;
    width: 100%;
}

.gallery .gallery-photos .photo .like,
.gallery .gallery-photos .photo .unlike.active {
    display: none;
    font-size: 20px;
    color: #ffffff80;
    cursor: pointer;
    transition: color ease;
    position: absolute;
    padding: 5px 30px 5px 5px;
    z-index: 2;
}

.gallery .gallery-photos .photo .like:hover,
.gallery .gallery-photos .photo .unlike.active:hover,
.gallery .gallery-photos .photo .setBg:hover {
    color: #fff;
}

.gallery .gallery-photos .photo .setBg.active {
    color: #fff;
    display: block;
}

.gallery .gallery-photos .photo .setBg {
    display: none;
    font-size: 20px;
    color: #ffffff80;
    cursor: pointer;
    transition: color ease;
    position: absolute;
    padding: 5px;
    z-index: 3;
}

.gallery .gallery-photos .photo:hover .setBg,
.gallery .gallery-photos .photo:hover .like,
.gallery .gallery-photos .photo:hover .unlike.active {
    display: block;
}

.gallery .gallery-photos .photo .like.noactive,
.gallery .gallery-photos .photo .unlike {
    display: none;
}

.gallery .gallery-photos .empty {
    display: flex;
    width: 560px;
    height: 280px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.gallery .gallery-photos .empty h2 {
    font-size: 16px;
}

.gallery .gallery-photos .empty h2,
.gallery .gallery-photos .empty p{
    margin: 0;
}

footer .quote {
    text-align: center;
    padding-bottom: 7px;
}

footer .tasks {
    margin-left: auto;
}

footer .tasks .full-icon {
    text-align: center;
}