@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./img/bg.jpg");
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    height: 98vh;
    margin: 0;
    user-select: none;
}

header {
    height: 11vh;
}

header .nav {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

header .nav .focus {
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

header .nav .nav-icon {
    font-size: 30px;
}

header .nav .weather {
    text-align: right;
    cursor: pointer;
    padding: 10px;
    transition: background-color ease;
}

header .nav  .weather:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

header .nav .weather .degrees-icon {
    display: flex;
    align-items: center;
}

header .nav .weather .degrees-icon .degrees {
    padding-left: 5px;
}

clock {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    height: 76vh;
    justify-content: center;
}

clock .time {
    display: grid;
    font-size: 125px;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-template-areas: ". time menu";
}

clock .time:hover .time-menu,
clock .time-menu.active {
    display: block;
}

clock .time-menu {
    display: none;
    font-size: 20px;
    padding: 6px;
    margin-left: 15px;
    opacity: 50%;
    transition: background-color ease;
    grid-area: menu;
    position: relative;
}

clock .time-clock {
    grid-area: time;
}

clock .clock-menu {
    grid-area: menu;
    background-color: #0f0f0fd9;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;

    margin: 80px 0 0 15px;

    width: 140px;
    height: 25px;
}

clock .clock-menu::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    margin-left: -10px;
    margin-bottom: 51px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #0f0f0fd9 transparent;
}

clock .time-menu:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
}

clock .clock-menu .switch {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 14px;
}

clock .clock-menu .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

clock .clock-menu .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0f0f0fd9;
    border: 1px solid #ffffff4d;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}

clock .clock-menu .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    bottom: 1px;
    left: 1px;
    border-radius: 30px;
    background-color: #ffffff4d;
    -webkit-transition: .4s;
    transition: .4s;
}

clock .clock-menu .switch input:checked + .slider {
    background-color: #ffffffd9;
    border: 1px solid #ffffffd9;
}

clock .clock-menu .switch input:focus + .slider {
    box-shadow: 0 0 1px #ffffffd9;
}

clock .clock-menu .switch input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
    background-color: #0f0f0f;
}

clock .date {
    font-size: 30px;
}

footer {
    height: 8vh;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-icon {
    font-size: 30px;
}

footer .change-bg {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

footer .gallery {
    background-color: #0f0f0fd9;
    position: absolute;
    bottom: 35px;
    width: 100px;
    height: 100px;
}

footer .gallery::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    margin-left: -10px;
    bottom: -5px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #0f0f0fd9 transparent;
}

footer .tasks {
    cursor: pointer;
    text-align: center;
    padding: 0px 10px 0px 10px;
}