@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    height: 98vh;
    margin: 0;
    user-select: none;
}

header {
    height: 11vh;
    margin: 10px 30px 20px 20px;
    display: flex;
    justify-content: space-between;
}

header .focus {
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

header .nav-icon {
    font-size: 30px;
}

header .weather-icon {
    text-align: right;
    cursor: pointer;
    padding: 10px;
    transition: background-color ease;
}

header .weather-icon:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

header .weather-icon .degrees-icon {
    font-size: 20px;
    display: inline-flex;
    align-items: center;
}

header .weather-icon .degrees-icon img {
    width: 45px;
}

header .weather-icon .city {
    font-size: 13px;
    margin-top: -10px;
}

header .weather-box {
    background-color: #0f0f0fd9;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    right: 30px;
    width: 400px;
}

header .weather-box .weather-header {
    display: flex;
    align-items: center;
    padding: 20px 20px 10px 20px;
}

header .weather-box .weather-header .btn-geo {
    margin-left: auto;
    padding: 15px;
    cursor: pointer;
}

header .weather-box .weather-header img{
    width: 40px;
}

header .weather-box .weather-header .weather-city {
    display: inline-flex;
    align-items: center;
}

header .weather-box .weather-body {
    display: inline-flex;
    flex-direction: column;
}

header .weather-box .weather-body .weather-desc {
    font-size: 14px;
    padding: 0px 30px 0px 30px;
    color: #a1a39f;
}

header .weather-box .weather-body .weather-temp {
    display: inline-flex;
    align-items: center;
}

header .weather-box .weather-body .weather-main {
    display: inline-flex;
    padding: 0px 35px 0px 20px;
}

header .weather-box .weather-body .weather-temp img {
    height: 80px;
}

header .weather-box .weather-body .weather-temp .temp {
    font-size: 50px;
}

header .weather-box .weather-body ul {
    list-style: none;
    font-size: 13px;
}

header .weather-box .weather-body ul span:nth-child(odd) {
    color: #a1a39f;
    padding-right: 5px;
}

header .weather-box .weather-body .weather-footer {
    padding: 10px 30px 15px 20px;
    border-top: solid #343333 1.5px;
    text-align: end;
    font-size: 10px;
    display: inline-flex;
    justify-content: space-between;
}

header .weather-box .weather-body .weather-footer a {
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    transition: background-color ease;
}

header .weather-box .weather-body .weather-footer a:hover {
    background-color: #343333;
}

header .weather-box .weather-body .weather-footer .logo-openweather {
    padding: 5px 10px 5px 10px;
    color: #a1a39f8f;
    font-weight: 600;
}

clock {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    height: 75vh;
    justify-content: center;
}

clock .time {
    display: flex;
    font-size: 125px;
    justify-content: center;
    align-items: center;
    position: relative;
}

clock .time:hover .time-menu,
clock .time-menu.active {
    display: block;
}

clock .time-menu {
    position: absolute;
    display: none;
    font-size: 20px;
    padding: 6px;
    margin-left: 20px;
    top: 60px;
    opacity: 50%;
    transition: background-color ease;
}

clock .time-menu:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
}

clock .clock-menu {
    background-color: #0f0f0fd9;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    margin: 18px 0 0 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: absolute;

    width: 140px;
    height: 25px;
}

clock .clock-menu::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    margin-left: -10px;
    margin-bottom: 51px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #0f0f0fd9 transparent;
}

clock .clock-menu .switch,
.todo-list .todo-head .todo-menu-box .switch {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 14px;
}

clock .clock-menu .switch input,
.todo-list .todo-head .todo-menu-box .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

clock .clock-menu .slider,
.todo-list .todo-head .todo-menu-box .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0f0f0fd9;
    border: 1px solid #ffffff4d;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}

clock .clock-menu .slider:before,
.todo-list .todo-head .todo-menu-box .switch .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    bottom: 1px;
    left: 1px;
    border-radius: 30px;
    background-color: #ffffff4d;
    -webkit-transition: .4s;
    transition: .4s;
}

clock .clock-menu .switch input:checked + .slider,
.todo-list .todo-head .todo-menu-box .switch input:checked + .slider {
    background-color: #ffffffd9;
    border: 1px solid #ffffffd9;
}

clock .clock-menu .switch input:focus + .slider,
.todo-list .todo-head .todo-menu-box .switch input:focus + .slider {
    box-shadow: 0 0 1px #ffffffd9;
}

clock .clock-menu .switch input:checked + .slider:before,
.todo-list .todo-head .todo-menu-box .switch input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
    background-color: #0f0f0f;
}

clock .date {
    font-size: 30px;
}

footer {
    height: 8vh;
    margin: 10px 20px 20px 30px;
    
    display: grid;
    grid-template-columns: 65px auto 83px;
    grid-template-areas: "gallery quote tasks";

    align-items: end;
}

footer .footer-icon {
    font-size: 30px;
    cursor: pointer;
}

footer .change-bg {
    text-align: left;
    grid-area: gallery;
    position: relative;
}

.gallery {
    grid-area: gallery;
    border-radius: 10px;
    background-color: #0f0f0fd9;
    width: 560px;
    height: 420px;
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-bottom: 10px;

    display: grid;
    grid-template: 70px 70px 280px / repeat(4, 1fr);
    padding: 30px;
}

.gallery::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 10px;
    top: 100%;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #0f0f0fd9 transparent;
}

.gallery .gallery-head {
    grid-column: span 4;
}

.gallery .gallery-head .gallery-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.gallery .gallery-head .gallery-desc {
    color: #ffffff80;
}

.gallery .gallery-menu {
    grid-column: span 4;
    display: inline-flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

.gallery .categories {
    display: flex;
}

.gallery .categories div{
    display: inline-flex;
    color: #ffffff80;
    transition: color ease;
    padding-right: 25px;
}

.gallery .categories div:hover {
    color: #fff;
}

.gallery .categories .category.active {
    color: #fff;
}

.gallery .add-btn{
    background-color: #fff;
    color: #0f0f0fd9;
    padding: 10px;
    border-radius: 30px;
    height: 20px;
    width: 115px;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    transition: filter ease;
}

.gallery .add-btn:hover {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}

.gallery .gallery-photos {
    grid-column: span 4;
    display: grid;
    grid-template: repeat(3, 80px) / repeat(4, 1fr);
    gap: 20px;
}

.gallery .gallery-photos img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.gallery .gallery-photos .photo {
    display: flex;
    justify-content: end;
    transition: filter ease;
}

.gallery .gallery-photos .photo:hover img{
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    z-index: 1;
}

.gallery .gallery-photos .photo.currentbg {
    outline: 2px solid #fff;
    width: 100%;
}

.gallery .gallery-photos .photo .like,
.gallery .gallery-photos .photo .unlike.active {
    display: none;
    font-size: 20px;
    color: #ffffff80;
    cursor: pointer;
    transition: color ease;
    position: absolute;
    padding: 5px 30px 5px 5px;
    z-index: 2;
}

.gallery .gallery-photos .photo .like:hover,
.gallery .gallery-photos .photo .unlike.active:hover,
.gallery .gallery-photos .photo .setBg:hover {
    color: #fff;
}

.gallery .gallery-photos .photo .setBg.active {
    color: #fff;
    display: block;
}

.gallery .gallery-photos .photo .setBg {
    display: none;
    font-size: 20px;
    color: #ffffff80;
    cursor: pointer;
    transition: color ease;
    position: absolute;
    padding: 5px;
    z-index: 3;
}

.gallery .gallery-photos .photo:hover .setBg,
.gallery .gallery-photos .photo:hover .like,
.gallery .gallery-photos .photo:hover .unlike.active {
    display: block;
}

.gallery .gallery-photos .photo .like.noactive,
.gallery .gallery-photos .photo .unlike {
    display: none;
}

.gallery .gallery-photos .empty {
    display: flex;
    width: 560px;
    height: 280px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.gallery .gallery-photos .empty h2 {
    font-size: 16px;
}

.gallery .gallery-photos .empty h2,
.gallery .gallery-photos .empty p{
    margin: 0;
}

footer .quote {
    text-align: center;
    padding-bottom: 7px;
}

footer .tasks {
    grid-area: tasks;
    position: relative;
    margin-left: auto;
}

footer .tasks .full-icon {
    text-align: center;
}

.todo-list {
    grid-area: tasks;
    border-radius: 10px;
    background-color: #0f0f0fd9;
    width: 360px;
    min-height: 160px;
    position: absolute;
    bottom: 100%;
    right: 0;
    margin-bottom: 10px;

    display: grid;
    grid-template: 40px 1fr 40px / 1fr;
}

.todo-list::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 100%;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #0f0f0fd9 transparent;
}

.todo-list .todo-head {
    padding: 30px;
    display: inline-flex;
    justify-content: space-between;
}

.todo-list .todo-head .inbox {
    display: flex;
}

.todo-list .todo-head .inbox .title{
    margin-right: 8px;
    font-size: 18px;
}

.todo-list .todo-head .inbox .dropdown-menu {
    margin-top: 2px;
    font-size: 12px;
    transition: background-color ease;
    padding: 4px;
    cursor: pointer;
    position: relative;
}

.todo-list .todo-head .inbox .dropdown-menu:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
}

.todo-list .todo-head .inbox .inbox-menu {
    background-color: #343333;
    position: absolute;
    left: 30px;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 15px;
    z-index: 10;
}

.todo-list .todo-head .inbox .inbox-menu li {
    padding: 10px 30px 10px 20px;
}

.todo-list .todo-head .inbox .inbox-menu span:nth-child(2n) {
    color: #ffffff80;
    font-size: 13px;
    padding-left: 10px;
}

.todo-list .todo-head .todo-menu {
    transition: background-color ease;
    padding: 6px;
    cursor: pointer;
}

.todo-list .todo-head .todo-menu:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
}

.todo-list .todo-head .todo-menu-box {
    position: absolute;
    background-color: #343333;
    padding: 15px;
    right: 30px;
    border-radius: 10px;
    z-index: 10;
    display: inline-flex;
    top: 60px;
    align-items: center;
    font-size: 15px;
}

.todo-list .todo-head .todo-menu-box .stay-open-text {
    padding-right: 10px;
}

.todo-list .todo-field .empty-todo {
    padding: 30px;
    display: flex;
    height: 150px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.todo-list .todo-field .empty-todo h2{
    font-size: 16px;
    margin-bottom: 20px;
}

.todo-list .todo-field .empty-todo .new-task-btn {
    padding: 10px;
    border-radius: 30px;
    background-color: #fff;
    color: #0f0f0fd9;
    font-size: 14px;
    font-weight: 600;
    height: 20px;
    width: 115px;
    text-align: center;
    transition: filter ease;
    cursor: pointer;
}

.todo-list .todo-field .empty-todo .new-task-btn:hover {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}

.todo-list .todo-field .empty-todo .new-task-btn.noactive {
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    opacity: 0;
}

.todo-list .todo-field .new-task {
    background: none;
    outline: none;
    border: none;
    color: #fff;
    font-size: 15px;
    bottom: 0;
    margin: 0 30px 30px 30px;
    position: absolute;
}

.todo-list .todo-field .new-task::placeholder {
    color: #ffffff80;
    opacity: 0.6;
}

.todo-list .todo-field .task-list .task-cell:first-child{
    margin-top: 30px;
}

.todo-list .todo-field .task-list .task-cell {
    padding: 0 30px 0 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    
    min-height: 25px;
    align-items: center;
}

.todo-list .todo-field .task-list .task-cell.active {
    background-color: #b7b5b540;
}

.todo-list .todo-field .task-list .task-cell:last-child{
    margin-bottom: 30px;
}

.todo-list .todo-field .task-list .created-task {
    display: inline-flex;
}

.todo-list .todo-field .task-list .created-task .task-edit-input {
    background: none;
    outline: none;
    border: none;
    color: #ffffff80;
    font-size: 16px;
}

.todo-list .todo-field .task-list .task-menu {
    padding: 5px;
    display: none;
    cursor: pointer;
    font-size: 12px;
    transition: background-color ease;
    right: 32px;
    position: absolute;
}

.todo-list .todo-field .task-list .task-menu:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
}

.todo-list .todo-field .task-cell:hover .task-menu {
    display: block;
}

 input {
    margin-right: 10px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.todo-list .todo-field .created-task input:checked + .task-text {
    text-decoration: line-through;
    color: #ffffff80;
}

.todo-list .todo-field .task-cell .task-menu-list {
    position: absolute;
    right: 55px;
    background-color: #343333;
    display: none;
    width: 100px;
    border-radius: 10px;
    font-size: 12px;
    top: 15px;
    z-index: 10;
}


.todo-list .todo-field .task-cell .task-menu-list ul,
.todo-list .todo-head .inbox .inbox-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.todo-list .todo-field .task-cell .task-menu-list li {
    border-bottom: 1.5px solid #545454;
    padding: 10px;
    cursor: pointer;
    transition: background-color ease;
}

.todo-list .todo-field .task-cell .task-menu-list li:hover,
.todo-list .todo-head .inbox .inbox-menu li:hover {
    background-color: #b7b5b540;
}

.todo-list .todo-field .task-cell .task-menu-list li:first-child:hover,
.todo-list .todo-head .inbox .inbox-menu li:first-child:hover {
    border-radius: 10px 10px 0 0;
}

.todo-list .todo-field .task-cell .task-menu-list li:last-child:hover,
.todo-list .todo-head .inbox .inbox-menu li:last-child:hover {
    border-radius: 0 0 10px 10px;
}

.todo-list .todo-field .task-cell .task-menu-list li:last-child {
    border-bottom: none;
}

.todo-list .todo-field .task-cell .task-menu-list.active-top {
    display: block;
}

.todo-list .todo-field .task-cell .task-menu-list.active-bottom {
    display: block;
    top: auto;
    bottom: 10px;
}